<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>  
<%= render @users %>

<%#= link_to 'New Song', new_song_path %>
<!-- <table>
  <thead>
    <tr>
      <th>name</th>
      <th>profile picture</th>     
      <th colspan="3">DJ profile</th>
    </tr>
  </thead>

  <tbody>
    <% #@users.each do |user| %>
      <tr>
        <td><%#= link_to user.name, user %></td>
        <td><%#= image_tag user.picture.thumb.url %></td>
        <td><%#= link_to 'Show', user %></td>
      </tr>
    <%#end %>
  </tbody>
</table>
-->

