<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<%#= audio_tag @song.audio_track %>
 <audio src="<%#=@song.song.url %>" controls
 </audio>



<%= link_to 'Back', users_path %>
<%#= link_to 'Edit', edit_users_path(@user) %>
