<!--  i added this file to render information about the songs and the audio file within the dj profile page  -->

<ul>
  <li> name - <%= song.name %></li>
  <li> description - <%= song.description %></li>
  <li>
    <%@user.songs do |songs| %>
    <%#=audio_tag @song.user_id %>
    <%#= @song.user_id%>
    <audio src="<%= @song.song.url %>" controls></audio> 
    <!-- i'm struggle with this because the loop should display the song file in with the audio tag why -->
    
    <% end %>
  </li>
  

</ul> 

